@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'galleon';
    src :url("/public/fonts/FontsFree-Net-Gilroy-ExtraBold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

